NEXT_PUBLIC_SUPABASE_URL=your-project-url
NEXT_PUBLIC_SUPABASE_ANON_KEY=your-anon-key
NEXT_PUBLIC_SITE_URL=http://localhost:3000
BREVO_API_KEY=
BREVO_SENDER_EMAIL=noreply@farrarapps.com
BREVO_SENDER_NAME=FarrarApps
